<div class="container">
  <h1 class="display-4">Contact</h1>

  <p class="text-muted">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam a perspiciatis
    odit obcaecati totam sunt pariatur reiciendis nobis rem. Ullam aperiam
    placeat porro error velit ducimus molestias rem officia impedit!
  </p>

  <div class="row">
    <div class="bg-light col-sm-9 py-3 rounded-3 border mx-auto">
      <form action="#" method="post">
        <div class="row mb-3">
          <label
            for="email"
            class="col-sm-3 col-form-label text-sm-end text-nowrap fw-semibold"
          >
            Your Email
          </label>

          <div class="col-sm-9">
            <input
              type="email"
              name="email"
              id="email"
              class="form-control"
              placeholder="Your email"
              required
            />
          </div>
        </div>

        <div class="row mb-3">
          <label
            for="message"
            class="col-sm-3 col-form-label text-sm-end fw-semibold"
          >
            Your message
          </label>

          <div class="col-sm-9">
            <textarea
              name="message"
              id="message"
              rows="5"
              class="form-control"
              placeholder="Write your message here"
              required
            ></textarea>
          </div>
        </div>

        <div class="row">
          <div class="offset-sm-3 col-sm-9 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary px-4">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
