<section class="bg-light">
  <div class="d-flex flex-column flex-md-row align-items-center">
    <div class="text-center text-md-start">
      <h2>
        This First Heading <span class="text-muted">Will Catch Your Eye</span>
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa maxime
        iste minus? Suscipit quas ratione tempore quisquam quo ipsa delectus
        accusantium sint aperiam, possimus doloribus? Tempore ipsam corrupti
        nesciunt.
      </p>
    </div>

    <div
      class="rounded-circle overflow-hidden flex-shrink-0 mb-4 mb-md-0 me-md-4"
      style="width: 200px; height: 200px"
    >
      <img
        src="/website/assets/img/1.jpg"
        class="w-100 h-100 object-fit-cover"
      />
    </div>
  </div>
</section>


