<section class="bg-light">
  <div class="container">
    <h2>Portfolio</h2>
    <p>Lorem ipsum dolor sit amet...</p>

    <div class="row">
      <div class="col-md-4">
        <img src="https://picsum.photos/700/400" class="img-fluid mb-2">
        <h5>Project Name</h5>
        <p>Lorem ipsum...</p>
      </div>

      <div class="col-md-4">
        <img src="https://picsum.photos/701/400" class="img-fluid mb-2">
        <h5>Project Name</h5>
        <p>Lorem ipsum...</p>
      </div>

      <div class="col-md-4">
        <img src="https://picsum.photos/702/400" class="img-fluid mb-2">
        <h5>Project Name</h5>
        <p>Lorem ipsum...</p>
      </div>
    </div>
  </div>
</section>