<div class="container">
  <div class="d-flex justify-content-start">
    <div
      class="rounded-circle overflow-hidden flex-shrink-0 me-4"
      style="width: 250px; height: 250px"
    >
      <img
        src="./assets/img/2.jpg"
        alt="Imagen"
        class="h-100 w-100 object-fit-cover"
      />
    </div>
    <div>
      <h2>
        The Second Heading <span class="text-muted">is pretty cool too</span>
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iure
        corrupti aperiam, doloremque sunt facilis delectus rerum assumenda
        reprehenderit corporis accusantium optio praesentium nemo in placeat
        asperiores odio nulla laborum?
      </p>
    </div>
  </div>
</div>
