<div class="d-flex flex-column flex-md-row align-items-center">
  <div
    class="rounded-circle overflow-hidden flex-shrink-0 mb-4 mb-md-0 me-md-4"
    style="width: 200px; height: 200px"
  >
    <img
      src="./assets/img/2.jpg"
      alt="Imagen"
      class="w-100 h-100 object-fit-cover"
    />
  </div>

  <div class="text-center text-md-start">
    <h1>
      The Second Heading
      <span class="text-muted">is pretty cool too</span>
    </h1>

    <p class="mb-0">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet illum
      ducimus rerum quo possimus facilis rem, ea, quidem tempora perspiciatis
      soluta animi libero maiores nulla. Corrupti corporis nobis molestias
      aperiam?
    </p>
  </div>
</div>
